.DS_Store
*/.DS_Store
.idea
*/.idea
__pycache__
__pycache__/
*/__pycache__
output
.vscode
log/
output/
logs/
tf_model/
*.pyc
build/
dist/
*.egg-info/
output_*
genloco_*
genloco.tar
strain*
down.sh
16C02B.zip
64cFULL.zip